<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="testComponents.ReportListeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/AppiumMobileAutomation">
        <classes>
            <class name="testCases.StandAloneTest">
                <methods>
                    <include name="appiumTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>